:root {
    --color-page : #343a40;
}

body{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.background-color-page{
    background-color: var(--color-page);
}

body *{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.initial-letter {
    font-family: 'Castoro', sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
}

.background-img{
  background-image: url("/assets/img/20190817_161955.jpg");
  height: 80rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.iam-container{
   padding-top: 58rem
}

.iam-container h2{
    font-size: 4.5rem;
    font-family: 'Castoro', sans-serif;
    font-weight: 300;
}

.iam-container h1{
    font-size: 4.5rem;
    font-family: 'Castoro', sans-serif;
    font-weight: 700;
}

.card-image-body{
    height: 15.625rem;
}

.card{
    margin-left : auto;
    margin-right : auto;
}


@media (max-width : 1024px){

    .iam-container{
        padding-top: 17rem
    }

    .iam-container h2{
        font-size: 2rem;
    }
    
    .iam-container h1{
        font-size: 2rem;
    }

    .background-img{
        height: 25rem;
    }
}